PORT=3000
NODE_ENV=development
DATABASE_URL="mysql://<DB_USER>:<DB_PASSWORD>@localhost:3306/church_events"

JWT_SECRET="<your-jwt-secret>"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="<your-jwt-refresh-secret>"
JWT_REFRESH_EXPIRES_IN="7d"

SUPER_ADMIN_EMAIL="<super-admin-email>"
SUPER_ADMIN_PASSWORD="<super-admin-password>"

# Email Configuration (Resend)
RESEND_API_KEY="<your-resend-api-key>"
EMAIL_FROM="onboarding@resend.dev"

